<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
</head>
<body>
<h1>Панель администратора</h1>
<p>Здесь будут отображаться инструменты управления системой.</p>

<ul>
    <li>
        <a th:href="@{/admin/users}">Посмотреть список всех пользователей</a>
    </li>
    <li>
        <a th:href="@{/admin/users/add}">Добавить нового пользователя</a>
    </li>
</ul>
<a href="/home">На главную</a>
</body>
</html>