<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Вход в систему</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Авторизация</h2>-->
<!--<form th:action="@{/login}" method="post">-->
<!--    <div>-->
<!--        <label>Email (Логин):</label>-->
<!--        <input type="text" name="username" required/>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Пароль:</label>-->
<!--        <input type="password" name="password" required/>-->
<!--    </div>-->
<!--    <button type="submit">Войти</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->